%h1.effective-admin-heading= @page_title

- resource = (@_effective_resource || Effective::Resource.new(controller_path))

.resource-buttons
  = render_resource_buttons(resource.klass, (action ||= :index) => false)

= card do
  = collapse('Show merge field settings') do
    %p The following Merge fields are sent to Mailchimp when a user subscribes:

    %ul
      - current_user.mailchimp_merge_fields.keys.each do |key|
        %li= key

    %p To have these fields displayed in Mailchimp, please configure each campaign with any of these merge fields.

  .mb-4

  = render_datatable @datatable
