= card('Mailchimp') do
  %p.text-muted
    = succeed('.') do
      = user
      is subscribed to 
      = pluralize(user.mailchimp_subscribed_lists.count, etd(Effective::MailchimpList))
      and
      = pluralize(user.mailchimp_subscribed_interests.count, etd(Effective::MailchimpInterest))

  %p.text-muted
    Please visit
    = link_to 'Mailchimp Settings', effective_mailchimp.admin_mailchimp_path, target: '_blank'
    to configure which are displayed.

  %p
    %strong Subscribed to the following

  = effective_form_with model: [:admin, user] do |f|
    = f.hidden_field :id

    = render('effective/mailchimp_user/fields', f: f)
    = render('admin/mailchimp_user/sync', f: f)

    = f.submit
