= card(ets(Effective::MailchimpList)) do
  %p.text-muted #{user} is subscribed to #{pluralize(user.mailchimp_subscribed_lists.count, et(Effective::MailchimpList))}.

  %p.text-muted
    Please visit
    = link_to 'All ' + ets(Effective::MailchimpList), effective_mailchimp.admin_mailchimp_lists_path, target: '_blank'
    to configure which are displayed.

  %p
    %strong Subscribed

  = effective_form_with model: [:admin, user] do |f|
    = f.hidden_field :id

    = render('effective/mailchimp_user/fields', f: f)
    = render('admin/mailchimp_user/sync', f: f)

    = f.submit
